.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    min-height: 100vh;
    padding: 10rem 7% 2rem;
    background-color: var(--white-color);
    color: var(--text-color);
}

    .about_left {
        flex: 1;
        display: flex;
        justify-content: center;
    }

        .about_left .about_img {
            width: 100%;
            max-width: 520px;
            height: auto;
            object-fit: cover;
        }

    .about_right {
        flex: 1;
    }

        .about_right .about_title {
            font-size: 4.5rem;
            text-align: left;
            line-height: 1.2;
            margin-bottom: 1rem;
        }
        .about_right h2 span {
            color: var(--main-color);
        }
        .about_right h3 {
            font-size: 2rem;
            font-weight: 600;
        }
        .about_right p {
            font-size: 1.6rem;
            margin: 2rem 0 3rem;
            line-height: 1.2;
        }

@media (max-width: 992px) {
    .about {
        gap: 2rem;
    }
        .about_right .about_title {
            font-size: 3.2rem;
        }
}

@media (max-width: 830px) {
    .about {
        flex-direction: column;
        text-align: center;
        padding: 8rem 5% 5rem;
        gap: 0rem;
    } 

        .about_left .about_img {
            max-width: 330px;
            width: 80vw;
        }
        
        .about_right .about_title {
            text-align: center;
            font-size: 3rem;
        }
        .about_right p {
            text-align: center;
            margin: 2rem 0 1.5rem;
        }
}

@media (max-width: 500px) {
    .about {
        padding: 6rem 3% 5rem;
    }
        .about_left {
            width: 100%;
        }
        .about_left .about_img {
            width: 100%;
        }
        .about_right h3 {
            font-size: 1.8rem;
        }
        .about_right p {
            font-size: 1.4rem;
        }
}  
