
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 7%;
    min-width: 250px;
    background-color: var(--main-color);
}

    .footer_copyright p {
        font-size: 1.6rem;
        color: #fdfdfd;
    }

    .footer_icontop a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: .8rem;
        background-color: var(--white-color);
        border-radius: .8rem;
        border: .2rem solid var(--main-color);
        outline: .2rem solid transparent;
        transition: .5s ease;
        cursor: pointer;
    }
    .footer_icontop a:hover {
        outline-color: var(--white-color);
    }
        .footer_icontop a i {
            font-size: 2.4rem;
            color: var(--text-color);
        }

@media (max-width: 300px) {
    .footer {
        padding: 3rem 7%;
        justify-content: center;
    }
        .footer_icontop a {
            display: none;
        }
}