.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 250px;
    padding: 2rem 7%;
    background-color: transparent;
    display: flex;
    align-items: center;
    z-index: 200;
    transition: .5s;
}
.header.sticky {
    background-color: var(--white-color);
    box-shadow: 0 0.1rem 1rem var(--shadow-color);
}
    .logo {
        font-size: 2.5rem;
        color: var(--main-color);
        font-weight: 600;
        cursor: default;
        margin-right: auto;
    }


        .navbar a {
            position: relative;
            font-size: 1.7rem;
            color: #fdfdfd;
            font-weight: 500;
            margin-right: 3.5rem;
            cursor: pointer;
        }
        .header.sticky .navbar a {
            color: var(--text-color);
        }
        .header.sticky .navbar a.active {
            color: var(--main-color);
        }

        .navbar a.active::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: -6px;
            width: 100%;
            height: 0.2rem;
            background-color: #fdfdfd;
        }
        .header.sticky .navbar a.active::before {
            background-color: var(--main-color);
        }
    
    .mode_icon {
        font-size: 2.5rem;
        color: #fdfdfd;
        cursor: pointer;
    }
    .header.sticky .mode_icon {
        color: var(--text-color);
        opacity: .9;
    }

    .header_menu_icon {
        font-size: 3.6rem;
        color: var(--text-color);
        display: none;
    }

@media (max-width: 1000px) {
    .header {
        background-color: var(--white-color);
    }
        .navbar a {
            color: var(--text-color);
        }
        .navbar a.active {
            color: var(--main-color);
        }
        .navbar a.active::before {
            background-color: var(--main-color);
        }
        .mode_icon {
            color: var(--text-color);
        }
}


@media (max-width: 768px ) {
    .header_menu_icon {
        display: block;
        cursor: pointer;
    }
    .mode_icon {
        position: absolute;
        right: 9.8rem;
        font-size: 2.8rem;
        color: var(--text-color);
        margin-bottom: .1rem;
    }
        .navbar {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 100vh;
            padding: 1rem 3% ;
            background-color: var(--white-color);
            border-top: .1rem solid rgba(0, 0, 0, 0.2);
            box-shadow: 0 .5rem 1rem solid rgba(0, 0, 0, 0.1);
            display: none;
        }
        .navbar.active {
            display: block;
        }
            .navbar a {
                display: block;
                font-size: 2.1rem;
                margin: 1.5rem 1rem 3.5rem;
                color: var(--text-color);
            }
            .navbar a:nth-child(1), .navbar a:nth-child(2) {
                color: var(--text-color);
            }
            .navbar a.active {
                color: var(--main-color);
            }
            .navbar a::before {
                display: none;
            }
        
}

@media (max-width: 450px) {
    .mode_icon {
        right: 7.5rem;
    }
}
