.testimonial {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-width: 250px;
    padding: 10rem 7% 9rem;
    background-color: var(--white-color);
    color: var(--text-color);
}

    .testimonial_title {
        font-size: 4.5rem;
        text-align: center;
    }
        .testimonial_title span {
            color: var(--main-color);
        }
    
    .testimonial_wrapper {
        position: relative;
        max-width: 80rem;
        width: 100%;
    }
        .testimonial_box {
            padding: 1rem;
            border-radius: 2rem;
            overflow: hidden;
        }
                .testimonial_slide {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    background-color: var(--white-color);
                    border-radius: 2rem;
                    box-shadow: 0 .1rem .5rem var(--shadow-color);
                    padding: 2rem 5rem;
                    border-top: 0.8rem solid var(--main-color);
                    border-bottom: 0.8rem solid var(--main-color);
                    height: 37rem;
                }
                    .testimonial_slide img {
                        width: 14rem;
                        height: 14rem;
                        object-fit: cover;
                        border-radius: 50%;
                        border: .5rem solid var(--white-color);
                        outline: .5rem solid var(--main-color);
                        margin-top: 0.5rem;
                    }
                    .testimonial_slide h3 {
                        font-size: 2.5rem;
                        margin: 1.5rem 0;
                        text-align: center;
                    }
                    .testimonial_slide p {
                        font-size: 1.5rem;
                        text-align: center;
                        margin: 0rem 4rem 0 4rem;
                    }

                    .swiper-button-next::after, .swiper-button-prev::after {
                        color: var(--main-color);
                    }

                    .swiper-pagination-bullet-active {
                        background: var(--main-color);
                        color: var(--main-color);
                    }
                    
                    .swiper_slider{
                        padding: 6rem;
                    }

@media (max-width: 1024px) {
    .testimonial {
        padding: 8rem 3% 5rem;
    }
}

@media (max-width: 800px) {
    .swiper-button-next::after, .swiper-button-prev::after {
        display: none;
    }
}

@media (max-width: 700px) {
    .testimonial_slide {
        height: auto;
        min-height: 40rem;
        padding: 3rem 2rem;
    }
        .testimonial_slide p {
            margin: 0 1rem;
        
        }
    .swiper_slider {
        padding: 4rem 2rem;
    }

}

@media (max-width: 450px) {
    .testimonial_slide img {
        width: 18rem;
        height: 18rem;
    }
    .swiper_slider {
        padding: 4rem 0.5rem;
    }
}


