@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --text-color: #333;
    --main-color: #754ef9;
    --white-color: #fdfdfd;
    --shadow-color: rgba(0,0,0,0.2);
}

.DarkMode {
    --text-color: #fdfdfd;
    --white-color: #0b061f;
    --shadow-color: rgba(0,0,0,0.7);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    min-width: 250px;
}

body {
    width: 100%;
    overflow-x: hidden;
    min-width: 250px;
}

@media (max-width: 1200px) {
    html {
        font-size: 55%; 
    }
}
@media (max-width: 450px) {
    html {
        font-size: 50%; 
    }
}
